.searchLabel
{
    font-size: 5vmin;
}

.searchText
{
    width: 20vmin;
    font-size: 5vmin;
}

.searchContainer
{
    padding: 1vmin;
    margin:1vmin;
}
.formButton{
    width: 25vmin;
    padding: 2vmin;
    margin: 2vmin;
    border-radius: 5vmin;
    font-weight: bolder;
    font-size: x-large;
}
td{
    padding: 2vmin;
}