p
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    margin: 0;
    font-weight: bolder;
    font-size:xx-large;
    color: white;
    height: max-content;
}
header
{
    background-color: darkgreen;
    padding: 20;
    margin: 0;
}